<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-us" }}'>

<head>
    {% include head.html %}
</head>

<body class="bg-slate-600">
<main class="flex flex-col relative flex-grow items-center">
    {% include nav.html %}

    <section id="wrapper" class="flex flex-grow w-2/3 absolute top-72 pb-72 w-screen">

    <article class="flex flex-col bg-slate-100 pb-2 shadow-2xl shadow-neutral-800 border-b-2 border-amber-900 bg-slate-800">

        <section class="mx-5 mt-4">
            {{ content }}
        </section>
