<div class="framed grid grid-cols-1 gap-4 items-center justify-center justify-items-center">
    <h1>Create a functional website tailored to your business</h1>
    <h3>. . . and of course your customers too</h3>
    <div class="border-2 border-l-ozgreen border-t-ozgreen border-b-ozgold border-r-ozgold p-4 bg-stone-800"><p class="text-xl text-ozgreen">Based in Australia<span class="text-ozgold">, Newcastle NSW</span></p></div>
    <div class="framed bg-stone-700 text-blue-300">muldev specialises in website development and reactive design for small to medium businesses.</div>
    <div class="framed bg-stone-700 text-blue-300">Our services include SEO and Website Design. Let us take your digital presence to the next level.</div>
</div>