<nav class="flex fixed w-screen h-64 inset-0 bg-gray-900 -skew-y-6 z-50"> <!-- Height 256px -->
    <!-- Nav start -->
    <section id="nav_logo" class="nav-logo">
        <img src="/assets/img/muldev-logo-transparent.svg" alt="muldev.com" class="logo">
    </section> <!-- Nav start -->

    <!-- Nav Menus
         id's  nav_menu_top & nav_menu_bottom
         have the height 52+12 = 64
    -->
    <section id="nav_menus" class="flex flex-start flex-grow text-white px-3 h-64 mb-4">
        <div class="flex flex-col">
            <div id="nav_menu_top" class="h-52"> <!-- Height 192px -->
                <div class="py-2 h-10">
                    <img src="/assets/img/muldev.png" alt="muldev.com" class="h-8 w-auto"> <!-- Height 40px -->
                    <div class="my-3 text-xl text-amber-700">{{ page.title }}</div>
                </div>
                <div class="lg:flex lg:flex-col h-40 lg:items-center lg:justify-center lg:justify-items-center lg:flex-nowrap lg:whitespace-nowrap"> <!-- Height 160px -->
                    <div class="lg:flex w-full lg:justify-center lg:justify-items-center">
                        <p class="my-3 px-4 text-xl text-blue-500">{% include tick.html %} Blogs with tutorials for Developers</p>
                        <p class="my-3 text-xl text-blue-500">{% include tick.html %} Free quotes for modern web designing</p>
                    </div>
                </div>
            </div>
            <div id="nav_menu_bottom" class="text-pink-500 h-10 pt-2"> <!-- Height 64px  -->
                <a href="{% link index.md %}" class="menu-item">Home</a>
                <a href="" class="menu-item">Showcase</a>
                <a href="{% link blogs/index.html %}" class="menu-item">Blogs</a>
                <a href="{% link about/index.html %}" class="menu-item">About</a>
            </div>
        </div>
    </section><!-- Nav Menus -->


    <!-- Nav End -->
    <section id="nav_end" class="flex flex-none w-32 text-white pb-4 justify-center items-end h-64 mx-4">
        <a href="#"><img src="/assets/img/default.png" alt="User" class="avatar"></a>
    </section> <!-- Nav End -->

</nav>