<nav class="flex w-screen h-64 inset-0 bg-gray-900 items-center">
    <!-- Nav start -->
    <section id="nav_logo" class="nav-logo">
        <img src="/assets/img/muldev-logo.svg" alt="muldev.com" class="logo">
    </section> <!-- Nav start -->

    <!-- Nav Menus -->
    <section id="nav_menus" class="flex flex-col flex-grow text-white px-3 h-full items-start mb-4">
        <div class="top-0 h-16 h-48 p-4">
            <div class="py-2"><img src="/assets/img/muldev.png" alt="muldev.com" class="h-10 w-auto"></div>
            <div class="pt-2">
                <p class="my-3 text-2xl text-blue-500">{% include tick.html %} Blogs with tutorials for Developers</span></p>
                <p class="my-3 text-2xl text-blue-500">{% include tick.html %} Free consulting quotes for modern web designing</p>
            </div>
        </div>
        <div class="text-pink-500 h-16 pt-6">
            <a href="#" class="menu-item">Home</a>
            <a href="#" class="menu-item">Showcase</a>
            <a href="#" class="menu-item">About</a>
            <a href="#" class="menu-item">Blogs</a>
        </div>

    </section><!-- Nav Menus -->

    <!-- Nav End -->
    <section id="nav_end" class="flex flex-none w-32 text-white px-2 justify-center items-center h-16 mx-4">
        <a href="#"><img src="/assets/img/default.png" alt="User" class="avatar"></a>
    </section> <!-- Nav End -->

    Navigation
</nav>