---
layout: compress
---

<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-us" }}'>

<head>
    {% include head.html %}
</head>

<body>
<main class="flex flex-col relative flex-grow min-h-screen">
        {% include nav.html %}

        <article class="flex flex-col flex-grow w-screen px-10">
            <div class="flex w-screen">

                <section class="my-10 px-10">
                    <h1>Posts</h1>
                    {% for post in site.posts %}
                        <p class="border-2 p-2 border-solid border-slate-700"><a href="{{ post.url }}">{{ post.title }}<br></a> {{ post.description }}</p>
                    {% endfor %}
                </section>

            </div>
            <div>
                {{ content }}
            </div>

        </article>
        <footer class="flex w-screen h-16 left-0 bg-gray-900 items-center">
            footer
        </footer>

</main>
{% include scripts.html %}
</body>

</html>