<!DOCTYPE html>
<html lang='{{ site.lang | default: "en-us" }}'>

<head>
    {% include head.html %}
</head>

<body>
<main>
    <div id="wrapper" class="flex flex-col min-h-screen min-w-full">
        {% include nav.html %}

        <article class="flex flex-col flex-grow w-screen px-10">
            <div>
                {{ content }}
            </div>
        </article>
        <footer class="flex w-screen h-16 left-0 bg-gray-900 items-center">
            footer
        </footer>
    </div>
</main>
{% include scripts.html %}
</body>

</html>